{% extends "IntekMovieFridayPoll/base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}IntekMovieFridayPoll/detail.css">
{% endblock %}


{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'IntekMovieFridayPoll:vote' question.id %}" method="post">
        <fieldset>
            <legend>{% block title %}{{ question.question_text }}{% endblock %}</legend>

            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <label for="choice{{ forloop.counter }}">
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <span>{{ choice.choice_text }}</span>
                </label>
            {% endfor %}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Vote</button>
            </div>
        </fieldset>
    </form>
{% endblock content %}